.toggle-button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #6ddb36;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: Poppins;
    color: #2f2f2f;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #efe3ef;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  }
  
  .button-active,.toggle-button:hover {
    border: 3px solid #efe3ef;
    background: #6ddb36;
  }
  

  .payment-block {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: 5%;
    overflow: hidden;
    border: none;
    color: #2f2f2f;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: Poppins;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #e6ecef;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3) ;
  }