<!DOCTYPE html>
<html>

<head>
  <title>Aasra</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token"
    content="cO9B9M9G83QfmNs9TZKQXjEUYKhF8TfjmGyqM7J28+MBaMeaf++dbcRSBBviwl7+Q8wX19wskorhG4mMhhY2CA==" />

  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <title>Homepage|Asara</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="../../assets/stylesheets/application.css" data-turbolinks-track="reload" />
  <script src="/assets/application-d25752b9ab667418e852ef42e1f03f47bd57a7d382318572379f2740fd4b6c95.js"
    data-turbolinks-track="reload"></script>
</head>
<style>
@media screen and (max-width: 425px) {
  .image{

  }
}
</style>
<body>
  <h2 class="h2-responsive font-weight-bold text-center my-5" style="padding-top:3%">Some Other Ways to Help...</h2>

  <div class="container" style="padding-top:1%">
    <div class="row">

      <div class="col" style="padding-bottom:10%" id="volunteer">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 300px;">
              <i class="fas fa-user-tie image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <!-- <img src="https://picsum.photos/200/200" class="img" alt="No Image"
              style="border-radius:50%;margin:auto;padding:5%" /> -->
            <h4 class="card-title"> Volunteer</h4>
            <p class="card-text">Join us hand in hand and make an impact. Get in touch to become a volunteer</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>



      <div class="col" style="padding-bottom:10%" id="partnership">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 300px;">
              <i class="far fa-handshake image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title"> Partnerships</h4>
            <p class="card-text">If you share the same vision as us, please contact and collaborate with us.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col" style="padding-bottom:10%" id="intern">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 300px;">
              <i class="fas fa-graduation-cap image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title"> Internships</h4>
            <p class="card-text">We are running programs, where you can apply as an Intern. Reach out to us for more
              information.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"  style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

      <div class="col" style="padding-bottom:10%" id="vv">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 300px;">
            <i class="fas fa-desktop image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title">Virtual Volunteer</h4>
            <p class="card-text">We understand being physically present is not always possible, but that does not
              restrict you to make an impact. You can still support and make your contribution to the cause virtually.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">More Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Reach out to us for more information.</p>
          <p><a href="mailto: aasrafoundationjaipur@gmail.com"><i class="fas fa-envelope" style="color: #CF776F; padding-right: 10px;"></i>Aasara Foundation Mail</a></p>
          <p><a href="tel:+91-9660573866"><i class="fas fa-id-badge"  style="color: dodgerblue; padding-right: 10px;"></i>Vivek Sharma</a></p>
          <p><a href="https://www.facebook.com/aasrafoundationjaipur16/"><i class="fab fa-facebook-square" style="color: #3D5A99;  padding-right: 10px;"></i>Aasara Foundation Facebook Page</p>
            </a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/js/mdb.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>
