<!DOCTYPE html>
<html>
  <head>
    <title>Aasra</title>
    <!-- <%= csrf_meta_tags %>
    <%= csp_meta_tag %> -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title>Homepage|Asara</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../../assets/stylesheets/application.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  <style>
    @media screen and (max-width: 425px) {
  .slideshow-image{
    height: 350px !important;
  }
}
  </style>
  </head>
  <body>
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="3000">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://picsum.photos/1280/720" class="d-block w-100 slideshow-image" alt="..">
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/1280/720" class="d-block w-100 slideshow-image" alt="..">
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/1280/720" class="d-block w-100 slideshow-image" alt="..">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>


        </div>

<hr>

<!-- Section: Features v.2 -->
<div class="container">
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">About Us</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">We are established on <b>August 4, 2016</b> in <b>Jaipur as a</b> non-profit organization under Govt. of Rajasthan. For the wellbeing of children and elderly, we are enacting various dynamic social movements.</p>
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">An initiative by multi-issue think tank who had convened to enact towards individual rights and empowerment.</p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-cogs pink-text fa-2x"></i>
          <!-- <img src="../../assets/images/vision.png" alt="" height="50px" width="50px"> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Our Vision</h4>
          <p class="grey-text">Our vision is bringing together a sense of mutual respect for people. Thaht involves ensuring their fundamental...</p>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">Learn More</button> -->
          <a class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#exampleModalCenter1">Learn more</a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Our Vision</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>Our vision is bringing together a sense of mutual respect for people. That involves ensuring their fundamental rights for them. We know this is going to be a long journey as we’ve started with limited resources but unlimited will power to bring change. To achieve this sense of mutual respect, we have to work on these three ethics.
                  </p>
                  <ul>
                    <li><b>Empowerment</b></li>
                    <p>Empowerment is a multi-dimensional social process that helps people gain control over their lives. It is multi-dimensional because works on different dimensions of an individual such as sociological, psychological, economic and other such dimensions. Social because it gives us a sense of involvement in society, being a social animal. It’s a process that fosters power in people, so that they can use it in their own life, community and society.
                    </p>
                    <li><b>Justice</b></li>
                    <p>Justice, a basic human right. We don’t expect people to fight for it. To live a life that’s fulfilling, it’s necessary to have a sense of belief in our judiciary system and that supports respect in society. Human behavior is a realization of some natural laws, Justice is one of them. We believe justice can exist only within the parameters of equality. To achieve our vision and to bring a sense of security, we have to systematize social and economic inequalities.</p>
                    <li><b>Welfare</b></li>
                    <p>Public aid for children and elderly in need to support their basic necessities like health, education, habitat, rehabilitation, skill development and financial support. We will make efforts to fulfill these basic but important needs for them. Mental wellbeing of a person affects one’s behavior towards society. Our aim is to help them live a better livelihood.
                    </p>
                  </ul>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
          <!-- <img src="../../assets/images/mission.png" alt="" height="50px" width="50px"> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Our Mission</h4>
          <p class="grey-text">Our mission is to bring awareness among people, a sense of social consciousness. Consciousness...</p>
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">Learn More</button> -->
          <a class="btn btn-pink btn-sm" type="button" data-toggle="modal" data-target="#exampleModalCenter2">Learn more</a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Our Mission</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>Our mission is to bring awareness among people, a sense of social consciousness. Consciousness will make people capable of making the right decisions for their own wellbeing and to spread awareness about financial aid, elementary education, rehabilitation, health services available to them. People are unaware of their own rights, services available to them. Our efforts will be to educate them.
                  </p>
                  <!-- <ul>
                    <li>Education</li>
                    <li>Financial Aid</li>
                    <li>Rehabilitation</li>
                    <li>Health Services</li>
                    <li>Resolve Rivalries</li>
                    <li>Justice</li>
                  </ul> -->
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <i class="fas fa-book-reader" style="color: #f5da; font-size: 150px;"></i>
                        <span><p>Education</p></span>
                      </div>
                      <div class="col"></div>
                      <div class="col">
                        <i class="fas fa-coins" style="color: gold; font-size: 150px;"></i>
                        <span><p>Financial Aid</p></span>
                      </div>
                      <div class="col">
                        <i class="fas fa-ambulance" style="color: red; font-size: 150px;"></i>
                        <span><p>Health Services</p></span>
                      </div>
                      <div class="col"></div>
                      <div class="col">
                        <i class="fas fa-user-friends" style="color: #FD7E14; font-size: 150px;"></i>
                        <span><p>Resolve Rivalries</p></span>
                      </div>
                      
                      <div class="col">
                        <i class="fas fa-balance-scale" style="color: black; font-size: 150px;"></i>
                        <span><p>Justice</p></span>
                      </div>
                      <div class="col"></div>
                      <div class="col">
                          <i class="fas fa-hands-helping" style="color: #4C6EF5; font-size: 150px;"></i>
                        <span><p>Rehabilitation</p></span>
                      </div>
                      <!-- <div class="col"><img src="../../assets/images/rehabitation.png" alt="" height="150px" width="150px" style="border-radius: 50% 50%; border: 3px  #55eb0f solid;"></div>
                      <div class="col"></div>
                      <div class="col"><img src="../../assets/images/health.png" alt="" height="150px" width="150px" style="border-radius: 50% 50%; border: 3px  #55eb0f solid;"></div>
                      <div class="col"><img src="../../assets/images/resolve.jpg" alt="" height="150px" width="150px" style="border-radius: 50% 50%; border: 3px  #55eb0f solid;"></div>
                      <div class="col"></div>
                      <div class="col"><img src="../../assets/images/justice.png" alt="" height="150px" width="150px" style="border-radius: 50% 50%; border: 3px  #55eb0f solid;"></div> -->
                    </div>
                  </div>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-pink btn-sm" data-dismiss="modal" style="color: #ffffff">Close</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-bullhorn blue-text fa-2x"></i>
          <!-- <img src="../../assets/images/approach.png" alt="" height="50px" width="50px"> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Our Approach</h4>
          <p class="grey-text">Thanks to our volunteers, we've started, with limited resources but unlimited passion. With support of authorities...</p>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">Learn More</button> -->
          <a class="btn btn-purple btn-sm" type="button" data-toggle="modal" data-target="#exampleModalCenter3">Learn more</a>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Our Approach</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>Thanks to our volunteers, we’ve started, with limited resources but unlimited passion. With support of authorities, govt. bodies, local groups and organizations we are working to eliminate impoverishment and arrange basic necessities for children. The idea is to enact the plans on ground and keep encouraging people to do so. Our people, our volunteers are working hard to achieve the vision we have. Small but effective steps to make an Impact!
                  </p>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-purple btn-sm" data-dismiss="modal" style="color: #ffffff">Close</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->
</div>
<hr>

        <div class="container" style="padding-bottom: 5%;margin-top: 5%">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Our Team</h2>
            <div class="row">
                <div class="col"></div>
                <div class="col" style="text-align: center">
                    <span class="dot"></span>
                    <span><h6>Name (Profession)</h6></span>
                    <span><h6>Post</h6></span>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                    <div class="col" style="text-align: center">
                            <span class="dot"></span>
                            <span><h6>Name (Profession)</h6></span>
                            <span><h6>Post</h6></span>
                    </div>
                    <div class="col"></div>
                    <div class="col" style="text-align: center">
                            <span class="dot"></span>
                            <span><h6>Name (Profession)</h6></span>
                            <span><h6>Post</h6></span>
                    </div>
            </div>
        </div>
      </body>
        <script type="text/javascript">
          stick = false;
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
