
<h2 class="h1-responsive font-weight-bold text-center my-5">Our Projects</h2>



<div class="row">
  <!-- Grid column -->
  <div class="col-md-4">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://picsum.photos/800/300" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the Project</h4>
      <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://picsum.photos/800/300" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the Project</h4>
      <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://picsum.photos/800/300" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the Project</h4>
      <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->
  </div>

  <script type="text/javascript">
    stick = false;
  </script>
